# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Vim backup files
*.swp

# macOS files
.DS_Store

# Output files
static/build
static/tiroOutput
static/.gradle
